# Supplementary Document 2
## Author: Revanth Mamidala
**Explanation:** 
The current script extracts precipitation data at 22 rain gauge stations from MESONET dataset hosted by 
Iowa State University.

In [12]:
import pandas as pd
import os

# Define the folder path and station identifiers
folder_path = r'C:\Users\revan\Box\Revanth PhD Course\Semester 4\Term Paper\ASOS Raingauges\Mesonet_ASOS_Clim'
stations = ['AXA', 'BNW', 'CAV', 'CIN', 'CNC', 'DSM', 'EBS', 'EOK', 'EST', 'FOD', 'IKV', 
            'OOA', 'OTM', 'OXV', 'PEA', 'SLB', 'DVP', 'MJQ', 'MWM', 'OTG', 'I75', 'PRO']

# Create the main dataframe with Date column
date_range = pd.date_range(start='2006-01-01', end='2024-10-01')
main_df = pd.DataFrame({'Date': date_range})

# Iterate over each station's CSV file
for station in stations:
    # Find the file containing the station name
    file_name = [f for f in os.listdir(folder_path) if station in f][0]
    file_path = os.path.join(folder_path, file_name)
    
    # Load the station's CSV file
    station_data = pd.read_csv(file_path)

    # Ensure the day column is in datetime format for proper matching
    station_data['day'] = pd.to_datetime(station_data['day'])

    # Rename the precip_in column to the station name
    station_data.rename(columns={'precip_in': station}, inplace=True)

    # Merge the station data with the main dataframe on the Date column
    main_df = main_df.merge(station_data[['day', station]], how='left', left_on='Date', right_on='day')

    # Multiply the column in the final dataframe by 25.4 and convert to numeric
    main_df[station] = pd.to_numeric(main_df[station], errors='coerce') * float(25.40)
  
    # Drop the extra 'day' column after merging
    main_df.drop(columns=['day'], inplace=True)

# Save the final dataframe to a CSV file
output_path = r'C:\Users\revan\Box\Revanth PhD Course\Semester 4\Term Paper\ASOS Raingauges\observed_precip_data.csv'
main_df.to_csv(output_path, index=False)

# Display the first few rows of the final dataframe
main_df.head()

,Date,AXA,BNW,CAV,CIN,CNC,DSM,EBS,EOK,EST,...,OTM,OXV,PEA,SLB,DVP,MJQ,MWM,OTG,I75,PRO
0,2006-01-01,0.0,0.000,0.00,0.000,1.270,4.572,0.000,0.00,1.016,...,0.00254,0.000,0.0,0.0,0.0,0.762,0.00,0.000,NaN,NaN
1,2006-01-02,0.0,4.064,3.81,1.524,8.636,8.128,1.778,3.81,2.794,...,7.11200,7.874,0.0,0.0,0.0,1.524,1.27,1.524,NaN,NaN
2,2006-01-03,0.0,0.254,0.00,0.000,0.000,0.000,0.000,0.00,0.000,...,0.00000,0.000,0.0,0.0,0.0,0.000,0.00,0.254,NaN,NaN
3,2006-01-04,0.0,0.000,0.00,0.000,0.000,0.000,0.000,0.00,0.000,...,0.00000,0.000,0.0,0.0,0.0,0.000,0.00,0.000,NaN,NaN
4,2006-01-05,0.0,0.000,0.00,0.000,0.000,0.000,0.000,0.00,0.000,...,0.00000,0.000,0.0,0.0,0.0,0.000,0.00,1.270,NaN,NaN